* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  padding: 0.3rem 1.3rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.gray-borders {
  border-top: 10vh solid hsl(0deg, 0%, 40%);
}

main {
  margin: 2rem 0rem;
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-bottom: 0.5rem solid hsl(45deg, 100%, 40%);
  padding: 0.5rem 1rem;
  margin-left: -20px;
}

.gray-fw {
  width: 100%;
  background: hsl(0deg, 0%, 60%);
  height: .5rem;
}

.gray-fw.bottom {
  height: 3rem;
  border-bottom: 10vh solid hsl(0deg, 0%, 40%);
  border-top: 0.5rem solid hsl(0deg, 0%, 60%);

}